{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        {{ person.name | capitalize }} born on {{ person.birthday | date('d/m/Y') }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

