{% extends 'base.html.twig' %}

{% block title %}List of persons{% endblock %}

{% block body %}

<div class="container py-5">
    <div class="row">
        {% if persons | length > 0 %}
            {% for person in persons %}
                <div class="col-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> <i class="fas fa-user"></i> {{ person.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> <i class="fas fa-calendar-alt"></i> {{ person.birthday | date('d/m/Y') }}</h6>
                            <p class="card-text"> <i class="fas fa-envelope"></i> {{ person.email }}</p>
                            <p class="card-text"> <i class="fas fa-phone-alt"></i> {{ person.phone }}</p>
                            <a href="#" class="card-link">detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>No persons found</h4>
        {% endif %}
    </div>
</div>
{% endblock %}
